@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --primary-color: white;
  --accent-color: salmon;
  --secondary-color: black;
  --font--: "Playfair Display", serif;
  --font2--: "EB Garamond", serif;
  --pColor: rgb(136, 133, 133);
  --teamBack: rgb(255, 255, 255);
  --teamIcons: rgb(255, 159, 148);
  --teamDetail: rgba(150, 147, 147, 0.942);
  --testShadow: rgba(0, 0, 0, 0.2);
  --footerColor: rgba(14, 33, 48, 0.805);
}

.footer-section {

  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(4, 49, 84, 0.715)),
    url("../../assets/footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.footer-content {

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

}

.footer-content p {
  color: var(--primary-color);
  font-size: 20px;
  margin: 20px 0px;
  text-transform: capitalize;
}

.footer-content h2 {

  color: var(--primary-color);
  font-size: 2.5rem;

}

.footer-content button {

  color: var(--primary-color);
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  outline: 0;
  padding: 10px 30px;

}

.footer {

  width: 100%;
  background-color: var(--footerColor);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font2--);
  padding: 15px 80px;

}

.left-footer h4 {
  color: var(--primary-color);
  text-transform: capitalize;

}

.up-arrow {
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  outline: none;
  text-transform: capitalize;
  font-size: 30px;
  padding: 5px;
  margin-top: 10rem;
  position: absolute;
  right: 40px;
  bottom: 15%;
}

.right-footer .icons {
  color: var(--primary-color);
  cursor: pointer;
  margin: 0px 18px;
}