:root {
    --primary-color: white;
    --accent-color:  salmon;
}

.container {
    background: linear-gradient(90deg, rgba(0,0,0,0.8), rgba(67,67,67,0.8)), url(../../assets/Header.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    flex-direction: column;
    margin-top: 190px;
}

.header-content h3 {
    color: var(--primary-color);
    font-size: 4.8rem;
    margin-bottom: 20px;
}

.header-content h3 span {
    color: var(--accent-color);
}

.header-content p {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 30px;
}