@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
    --primary-color: white;
    --accent-color: salmon;
    --secondary-color: black;
    --font--: "Playfair Display", serif;
    --font2--: "EB Garamond", serif;
    --pColor: rgb(136, 133, 133);
    --teamBack: rgb(255, 255, 255);
    --teamIcons: rgb(255, 159, 148);
    --teamDetail: rgba(150, 147, 147, 0.942);
    --testShadow: rgba(0, 0, 0, 0.2);
}


.testimonials {
    padding: 50px 90px;
}

.testimonials-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font2--);
}

.testimonials-header-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.testimonials-header-text h2 {
    color: var(--accent-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font--);
}

.testimonials-header-text span {
    background-color: var(--accent-color);
    border-radius: 5px;
    width: 90px;
    height: 4px;
    text-align: center;
    margin: 15px 0px;
}


.testimonials-header-text p {
    color: var(--pColor);
    text-transform: capitalize;
    margin: 30px 0px;
    font-family: var(--font2--);
}

.testimonial {
    width: 90%;
    max-width: 800px;
    margin: auto;

}

.testimonials-text {
    color: var(--secondary-color);
    font-size: 20px;
    width: 100%;
    height: 350px;
    position: relative;
    box-shadow: 0px 25px 30px var(--testShadow);

}

.testimonials-pic {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.user-text {
    width: 80%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

}

.user-text.active-text {
    color: var(--secondary-color);
    display: block;
    animation: moveup 0.5s linear forwards;

}

.user-text span {
    display: block;
    font-size: 17px;
    margin-top: 70px;
    font-weight: 500;

}

.user-pic {
    cursor: pointer;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;

}

.user-pic.active-pic {
    width: 130px;
}

@keyframes moveup {

    0% {
        margin-top: 25px;
    }

    100% {
        margin-top: 0px;
    }

}