@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --primary-color: white;
  --accent-color: salmon;
  --secondary-color: black;
  --font--: "Playfair Display", serif;
  --font2--: "EB Garamond", serif;
  --pColor: rgb(136, 133, 133);
  --teamBack: rgb(255, 255, 255);
  --teamIcons: rgb(255, 159, 148);
  --teamDetail: rgba(150, 147, 147, 0.942);
}


.app-container {
  width: 100%;
  height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(4, 49, 84, 0.715)),
    url("../../src/assets/appointment-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.appointment-input {
  padding: 40px 120px;
  position: relative;
}

.appointment-header-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.appointment-header-text h2 {
  color: var(--accent-color);
  font-size: 2.5rem;
}

.appointment-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 70px;
}

.appointment-container .inputbox {
  margin-bottom: 20px;
  width: 400px;
  border: none;
}

.appointment-container .inputbox h4 {
  margin-bottom: 15px;
  font-size: 20px;
  text-transform: capitalize;
}

.appointment-container .inputbox span {
  color: var(--pColor);
}

.appointment-container .inputbox input {
  width: 100%;
  border: 2px solid var(--pColor);
  outline: none;
  padding: 20px;
  margin-top: 8px;
}

.appointment-container .inputbox input::placeholder {
  color: var(--pColor);
  font-size: 16px;
  text-transform: capitalize;
}

#select {
  display: flex;
  flex-direction: column;
}

#select .title {
  padding: 20px;
  margin-top: 8px;
}

.inputbox-btn {
  width: 220px;
  margin: 30px 0px 0px 45px;
}

.inputbox-btn button {
  width: 100%;
  color: var(--accent-color);
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 20px;
  outline: none;
  padding: 15px 30px;
  margin: 50px 0px;
  text-transform: capitalize;
  font-size: 17px;
}