@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
    --primary-color: white;
    --accent-color: salmon;
    --secondary-color: black;
    --font--: "Playfair Display", serif;
    --font2--: "EB Garamond", serif;
    --pColor: rgb(136, 133, 133);
    --teamBack: rgb(255, 255, 255);
    --teamIcons: rgb(255, 159, 148);
    --teamDetail: rgba(150, 147, 147, 0.942);
}

.body-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px;
}


.left-div {
    width: 50%;
}

.left-div img {
    width: 100%;
    border-radius: 15px;
}

.right-div {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.right-div h3 {
    color: var(--accent-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}

.right-div h3::after {
    content: "";
    width: 90px;
    height: 4px;
    background: var(--accent-color);
    display: block;
    margin-top: 5px;
    border-radius: 2px;
    position: absolute;
    bottom: -95px;
    left: 72%;
    transform: translateX(-50%);
}

.right-div p {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 19px;
    font-optical-sizing: auto;
    line-height: 24px;
    margin-top: 20px;
}

/* Service section */

.service-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 90px;
}

.service-section h1 {
    color: var(--accent-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 2.5rem;
}

.service-section span {
    background-color: var(--accent-color);
    border-radius: 5px;
    width: 90px;
    height: 4px;
    text-align: center;
    margin: 15px 0px;
}

.service-section p {
    color: var(--pColor);
    margin: 15px 0px;
    text-transform: capitalize;
    font-size: 19px;
}

.service-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    padding: 50px 20px;
}

.service-box {
    width: 400px;
}

.service-box img {
    width: 100%;
    border-radius: 15px;
}

.service-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.service-details h3 {
    color: var(--secondary-color);
    font-size: 25px;
    text-transform: capitalize;
    margin: 5px 0px;
}

.service-details p {
    color: var(--pColor);
    text-align: center;
    font-size: 16px;
}

.service-details button {
    color: var(--accent-color);
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    padding: 13px 35px;
    text-transform: capitalize;
}

/* Team section */

.team-section {
    padding: 50px 90px;
    margin-bottom: 5rem;
}

.team-header-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-section h1 {
    color: var(--accent-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font--);
}

.team-section span {
    background-color: var(--accent-color);
    border-radius: 5px;
    width: 90px;
    height: 4px;
    text-align: center;
    margin: 15px 0px;
}

.team-section p {
    color: var(--pColor);
    text-transform: capitalize;
    margin: 30px 0px;
    font-family: var(--font2--);
}

.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 70px;
    margin-top: 40px;
    padding: 0px 70px;
}

.team-member {
    width: 400px;
    height: 400px;
    position: relative;
}

.team-member img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.team-details {
    background-color: var(--teamBack);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 40px;
    margin-bottom: 30px;
    position: absolute;
    bottom: -90px;
    left: 13%;
}

.team-details h3 {
    font-size: 25px;
}

.team-details p {
    color: var(--teamDetail);
    text-transform: capitalize;
    margin: 25px 0px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials .icons {
   color: var(--primary-color);
   background: var(--accent-color);
   cursor: pointer;
   padding: 5px;
   font-size: 30px;
   border-radius: 5px;
   margin: 0px 10px;
}